.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  width: 100%;
}

.footer-note {
  font-size: $text-big;
}

.footer-copyright {
  align-self: flex-end;
}

.footer-copyright, .footer-note {
  color: $white;
}

.footer-image {
  max-width: 300px;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .footer-image {
    margin-bottom: 30px;
  }
  
  .footer-copyright {
    align-self: inherit;
    margin: 50px 0;
  }
}
