.footer {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px;
  width: 100%;
}

.footer-note {
  font-size: $text-big;
}

.footer-copyright {
  align-self: flex-end;
}

.footer-copyright, .footer-note {
  color: $white;
}
