* {
  font-family: 'Roboto', sans-serif;
}

.body {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%
}

.title {
  color: red;
}

.m-bottom-1 {
  margin-bottom: 10px;
}
.m-bottom-2 {
  margin-bottom: 20px;
}
