* {
  font-family: 'Roboto', sans-serif;
}

.body {
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.title {
  color: red;
}

.m-bottom-1 {
  margin-bottom: 10px;
}

.m-bottom-2 {
  margin-bottom: 20px;
}

.m-bottom-4 {
  margin-bottom: 40px;
}

.m-right-2 {
  margin: 20px;
}

.p-top-nav {
  padding-top: $navbar-height;
}
