.tech-container {
  align-items: center;
  align-self: center;
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "first-tech others-tech others-tech"
                      "first-tech others-tech others-tech";
  justify-items: center;

  .tech-item:first-child {
    border-right: solid 2px $green;
    grid-area: first-tech;
  }

  .tech-items:not(.tech-items:first-child) {
    grid-area: others-tech;
  }
}

.tech-item {  
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 30px 35px 30px 35px;
  text-align: center;
}

.tech-logo {
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
}

.tech-item-title {
  font-size: $text-medium;
  margin-bottom: 10px;
}

.tech-item-subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .tech-container {
    display: block;
    
    .tech-item:first-child {
      border-right: none;
    }
  
    .tech-item {
      border-bottom: solid 2px $green;
      max-width: 280px;
      padding-top: 50px;
      width: 100%;

      &:last-child {
        border: none;
      }
    }
  }
}
