$tech-border-radius: 4px;
$tech-border-decorator: 10px;

.tech-item {
  background-color: $green;
  border-radius: $tech-border-radius;
  max-width: 200px;
  position: relative;
  text-align: center;
  padding: 30px 25px;
  width: 100%;

  &::before {
    border-radius: $tech-border-radius;
    content: '';
    position: absolute;
    top: $tech-border-decorator * -1;
    bottom: $tech-border-decorator;
    left: $tech-border-decorator * -1;
    right: $tech-border-decorator;
    border: solid 1px $green;
    z-index: -1;
  }
}

.tech-logo {
  height: 100px;
}

.tech-item-title {
  font-size: $text-medium;
}

.tech-item-subtitle {
  font-weight: bold;
}

.tech-item-title, .tech-item-subtitle, .tech-item-description {
  display: block;
}

.tech-item-subtitle, .tech-item-description {
  font-size: $text-small;
}
