$tech-border-radius: 4px;
$tech-border-decorator: 10px;

.tech-container {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-rows: repeat(3 1fr);
  grid-template-areas: "first-tech others-tech others-tech"
  "first-tech others-tech others-tech";
  align-items: center;
  justify-items: center;

  .tech-item:first-child {
    grid-area: first-tech;
  }
  .tech-items:not(.tech-items:first-child) {
    grid-area: others-tech;
  }
}

.tech-item {
  border-radius: $tech-border-radius;
  margin: 20px;
  max-width: 200px;
  padding: 10px 24px 20px 24px;
  position: relative;
  text-align: center;
  width: 100%;

  &:hover::before  {
    bottom: $tech-border-decorator * -1;
    left: $tech-border-decorator;
    right: $tech-border-decorator * -1;
    top: $tech-border-decorator;
  }
}

.tech-logo {
  width: 100px;
  height: 100px;
}

.tech-item-title {
  font-size: $text-medium;
}

.tech-item-subtitle {
  font-weight: bold;
}

.tech-item-title, .tech-item-subtitle, .tech-item-description {
  display: block;
}
