.tech-title {
  font-size: 24px;
  margin-top: 60px;
  position: relative;
  
  &::before {
    background: url(assets/triangle.svg) no-repeat;
    content: "";
    height: 90px;
    left: -50px;
    position: absolute;
    top: -30px;
    width: 70px;
    z-index: -1;
  }
}
