.tech-title {
  align-items: center;
  display: flex;
  font-size: $text-big;
  height: 90px;
  position: relative;
  
  &::before {
    background: url(assets/triangle.svg) no-repeat;
    background-size: 70px 90px;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(-50px);
    z-index: -1;
  }
}
