.tech-title {
  align-items: center;
  display: flex;
  font-size: $text-big !important;
  height: 90px;
  padding-left: 52px;
  position: relative;
  
  &::before {
    background: url(assets/triangle.svg);
    background-size: 70px 90px;
    content: '';
    left: 0;
    height: 100%;;
    position: absolute;
    width: 70px;
    z-index: -1;
  }
}
