@import '_colors';

.w-input-container {
  display: inline-block;
  position: relative;
}

.w-input {
  background-color: $wild-sand;
  min-width: 240px;
  padding: 10px;
}

.w-input-button {
  background: $green;
  bottom: 0;
  color: $white;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;

  .icon {
    color: $white;
  }
}

.w-input-placeholder { 
  color: $dusty-gray;
  font-style: italic;
}

::placeholder {
  color: $dusty-gray;
  font-style: italic;
}

.w-select {
  display: inline-block;
  padding-right: 3.5em;
  background-image: linear-gradient(50deg, transparent 50%, gray 50%), linear-gradient(125deg, gray 50%, transparent 50%);
  background-position: calc(100% - 22px) calc(14px + 2px), calc(100% - 12px) calc(14px + 2px);
  background-size: 7px 10px, 10px 10px, 1px;
  background-repeat: no-repeat;
}
