a(ui-sref="bookDetail($ctrl.book)")
  .book-item(ng-class="{ 'book-item-small': $ctrl.small }")
    img.book-item-image(alt="book image" src="assets/book_logo.png" ng-src="{{$ctrl.book.imageUrl}}")
    p.book-item-title(ng-if="!$ctrl.small")
      | {{$ctrl.book.title}}
    p.book-item-author(ng-if="!$ctrl.small")
      | {{$ctrl.book.author}}
