doctype html
html(lang="es" ng-app="wBooksApp" class="no-js")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title WBooks
    link(rel="stylesheet" href="application.css")
  body
    ui-view
    script(src="lib/angular/angular.js")
    script(src="lib/@uirouter/angularjs/release/angular-ui-router.js")
    script(src="common/w-input/w-input.component.js")
    script(src="core/book/book.module.js")
    script(src="core/book/book.service.js")
    script(src="book-item/book-item.component.js")
    script(src="books/books.module.js")
    script(src="books/books.component.js")
    script(src="book-detail/book-detail.module.js")
    script(src="book-detail/book-detail.component.js")
    script(src="app.js")
    