.main-container
  .main-body-medium.pad-l-3.pad-r-3.mar-b-5.mar-t-3
    h3.page-title.page-title-center.mar-b-3
      | Login
    form.form-container(name="signUpForm" ng-submit="$ctrl.submit()")
      .form-group
        label.form-label(for="email")
          | Email
        input#email.form-control(type="email" name="email" ng-model="$ctrl.user.email"  ng-pattern="$ctrl.emailValidatorPattern" required)
        p.form-validator-msg(ng-if="signUpForm.email.$error.required && signUpForm.email.$touched")
          | Debe ingresar un email
        p.form-validator-msg(ng-if="signUpForm.email.$error.pattern")
          | Debe ingresar un email válido
      .form-group
        label.form-label(for="password")
          | Password
        input#password.form-control(type="password" name="password" ng-model="$ctrl.user.password" ng-pattern="$ctrl.passwordValidatorPattern" required)
        p.form-validator-msg(ng-if="signUpForm.password.$error.required && signUpForm.password.$touched")
          | Debe ingresar una contraseña
        p.form-validator-msg(ng-if="signUpForm.password.$error.pattern")
          | Su contraseña que tenga entre 8 y 52 caracteres, y al menos una letra y un número
      .form-buttons
        button.btn.btn-primary(type="submit" ng-disabled="signUpForm.$invalid || $ctrl.loading")
          | Iniciar sesión
