@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
input,
a,
button,
select,
textarea {
  color: #000;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
span:focus,
label:focus,
input:focus,
a:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input,
select,
textarea,
button {
  border: 0;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  background: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:focus, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #999;
  opacity: 1;
}

.w-input-container {
  display: inline-flex;
  position: relative;
}

.w-input {
  background-color: #F4F4F4;
  min-width: 240px;
  padding: 10px;
}

.w-input-button {
  background: #BED23C;
  bottom: 0;
  color: #FFF;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.w-input-button .fa {
  color: #FFF;
}

.w-input-placeholder {
  color: #9B9B9B;
  font-style: italic;
}

::placeholder {
  color: #9B9B9B;
  font-style: italic;
}

.w-select {
  display: inline-block;
  padding-right: 3.5em;
  background-image: linear-gradient(50deg, transparent 50%, gray 50%), linear-gradient(125deg, gray 50%, transparent 50%);
  background-position: calc(100% - 22px) calc(1em + 2px), calc(100% - 12px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 7px 10px, 10px 10px, 1px 2em;
  background-repeat: no-repeat;
  /* reset */
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.w-select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

* {
  font-family: "Roboto", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-body {
  max-width: 800px;
  width: 100%;
}

.pad-l-3 {
  padding-left: 30px;
}

.pad-r-3 {
  padding-right: 30px;
}

.mar-b-3 {
  margin-bottom: 30px;
}

.mar-l-3 {
  margin-left: 30px;
}

.mar-t-3 {
  margin-top: 30px;
}

.mar-b-5 {
  margin-bottom: 50px;
}

.mar-r-3 {
  margin-right: 30px;
}

.splitter {
  border-top: solid 1px #00ADEE;
  width: 100%;
  margin: 30px 0;
}

.btn {
  padding: 8px;
  max-width: 198px;
  width: 100%;
}

.btn-primary {
  background: #00ADEE;
  color: #FFF;
}

.subtitle {
  color: #BED23C;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.book-items, .book-items-inline {
  display: flex;
  flex-wrap: wrap;
}

.book-items {
  justify-content: space-between;
}

.book-items-inline {
  justify-content: flex-start;
}

.book-item {
  display: flex;
  flex-direction: column;
  width: 128px;
  margin: 0 30px 30px 30px;
}

.book-item-small {
  width: 87px;
}

.book-item-image {
  width: 100%;
  margin-bottom: 15px;
}

.book-item-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.book-detail {
  display: flex;
}

.book-detail-image {
  width: 191px;
}

.book-detail-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-detail-title {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.book-detail-author {
  margin-bottom: 10px;
}

.book-detail-year {
  margin-bottom: 5px;
}

.book-detail-author, .book-detail-year {
  font-size: 1.1rem;
}

.book-detail-genre {
  margin-bottom: 10px;
}

.book-detail-button {
  font-size: 1.2rem;
  margin-top: 50px;
}

/*# sourceMappingURL=application.css.map */
