.book-items, .book-items-inline {
  display: flex;
  flex-wrap: wrap;
}

.book-items {
  justify-content: space-between;
}

.book-items-inline {
  justify-content: flex-start;
}

.book-item {
  display: flex;
  flex-direction: column;
  width: 128px;
  margin: 0 30px 30px 30px;
}

.book-item-small {
  width: 87px;
}

.book-item-image {
  width: 100%;
  margin-bottom: 15px;
}

.book-item-title {
  font-weight: bold;
  margin-bottom: 5px;
}
