.btn {
  background: $silver;
  color: $white;
  max-width: 198px;
  padding: 12px;
  width: 100%;
}

.btn-primary {
  background: $blue;
}

.btn-secondary {
  background: $green;
}

.btn:disabled {
  background: $white;
  cursor: not-allowed;
  color: $silver;
}
