.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-body {
  max-width: 800px;
  width: 100%;
}

.pad-l-3 {
  padding-left: 30px;
}

.pad-r-3 {
  padding-right: 30px;
}

.mar-b-3 {
  margin-bottom: 30px;
}

.mar-l-3 {
  margin-left: 30px;
}

.mar-t-3 {
  margin-top: 30px;
}

.mar-b-5 {
  margin-bottom: 50px;
}

.mar-r-3 {
  margin-right: 30px;
}

.splitter {
  border-bottom: solid 1px $blue;
  padding-bottom: 30px;
}
