@import 'variables/sizes';

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-body {
  max-width: 800px;
  width: 100%;
}

.navbar-top-spacing {
  margin-top: $navbar-height + 30px;
}

.splitter {
  border-bottom: solid 1px $wolox-blue;
  padding-bottom: 30px;
}

.page-title {
  color: $black;
  display: block;
  font-size: $text-big;
}
